*{
    margin:0;
    padding:0}

body{
    background-color:aliceblue ;
}

.cabecalho {
    background-color:#2E8094;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;}
    
.cabecalho-imagem{
 width:40%;
padding: 12px;
    }
    
.lista-cabecalho-item{
        
 display: inline-block;
padding: 30px;
 color:rgb(234, 240, 233);
 font-size: 20px;
 font-weight: bolder;
    }

.escola {
 background-image:linear-gradient(rgba(46, 128, 148, 1),rgba(46, 128, 148, 0.6));
display: flex;
justify-content: left;
align-items: center;
padding: 24px 0
    }

.texto-lista {

 display: inline-block;
list-style-type: none;
}

.escola-imagem {
    width: 100%;
    margin: 46px;
}
.escola-texto {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px;
}

.QuemSomos{
    background-color:rgba(46, 128, 148, 0.6)
  
  }
  
  .equipe {
    text-align: center ;
    font-family: 'Times New Roman';
    font-size: 35px;
  
  }
  
  .equipe-escola{
    
    display:flex ;
    padding: 50px;
    justify-content:space-evenly}
  
  .equipe-colunas {
  
    display: contents;
    list-style-type: none;
    text-align: center; 
  }
  
  .profissional-nome {
  
    text-align: center ;
    font-family: 'Times New Roman';
    font-size: 20px;
    padding: 10px;
  
  }
  
  .icones {
    width:30%;
  }

footer{
text-align:center;
background-color: rgba(62, 63, 68, 0.75);
padding: 10px 0;

}

.siga-nos {
  color:white;
  font-size:20px;
  padding:10px 0 0;
}

.imagem_rodape {
width: ;
padding: ;

.contato{
  color:   ;
  font-size:    ;
  padding:    ;

}
}