*{
    margin:0;
    padding:0;
}

body{
    background-color:aliceblue ;
}

.cabecalho {
    background-color:#2E8094;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;}
    
.cabecalho-imagem{
 width:40%;
padding: 12px;
    }
    
.lista-cabecalho-item{
        
        display: inline-block;
        padding: 30px;
        color:rgb(234, 240, 233);
        font-size: 15px;
        font-weight: bolder;
    }

    .escola {
        background-image:linear-gradient();
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 24px 0;
    }

.texto-lista {

    display: inline-block;
    list-style-type: none;
}

.escola-imagem {
    width: 150%;
    margin: 46px;
}